<div class="row">
  <div class="col-3">
    <sidebar></sidebar>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col" style="margin-top:90px;">
        <div class="container-fluid">
          <h3 class="text-dark mb-4">Database Products</h3>
          <div class="card shadow">
            <div class="card-header py-3">
              <p class="text-primary m-0 fw-bold">Products Info</p>
            </div>
            <div class="card-body">

              <div class="col-md-6">
                <br />
                <div><label class="form-label"><input type="search" name="value" [(ngModel)]="value" (ngModelChange)="search()" class="form-control" aria-controls="dataTable" placeholder="Search for Products"></label></div>
              </div>

              <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Stock</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of products ">
                      <td><img class="rounded-circle me-2" width="30" height="30" src="{{p.imgPath}}">{{p.productName}}</td>
                      <td>{{p.price|currency:'USD'}}</td>
                      <td>{{p.stock}}</td>
                      <td><a class="btn btn-outline-primary" routerLink="/edit/product/{{p.productId}}">Edit</a></td>
                      <td><a class="btn btn-outline-danger" (click)="delete(p.productId)">Delete</a></td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  

