<body>
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <app-nav-menu></app-nav-menu>
        <div class="container-fluid" style="margin-left:-12px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </div><a class="border rounded  d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  <footer style="margin-top:20px; padding:50px;border:solid 2px purple;" align="center" class="text-dark-50 shadow sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright"><span>Copyright © CartWall | Solomon Yusuf&nbsp; 2022</span></div>
    </div>
  </footer>
</body>
