<div class="col" style="margin-top:90px;">
        <div class="row">
          <div class="col-3">
            <sidebar></sidebar>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col" style="margin-top:80px;">
                <div class="container-fluid">
                  <h3 class="text-dark mb-4">Database Users</h3>
                  <div class="card shadow">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 fw-bold">User Info</p>
                    </div>
                    <div class="card-body">

                      <div>
                        <br />
                        <div class="col-md-8"><input type="search" name="value" [(ngModel)]="value" (ngModelChange)="search()" class="form-control" placeholder="Search by UserName or ID or Email"></div>
                      </div>

                      <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                          <tbody>
                            <tr *ngFor="let u of user ">
                              <td><img class="rounded-circle me-2" width="30" height="30" src="{{u.imgPath}}">{{u.userName}}</td>
                              <td>{{u.id}}</td>
                              <td><a class="btn btn-outline-primary" routerLink="/edit/user/{{u.id}}">Edit</a></td>
                              <td><a class="btn btn-outline-danger" (click)="Delete(u.id)">Delete</a></td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
   
